[submodule "qtbase"]
	path = qtbase
	url = https://github.com/qt/qtbase
[submodule "qtactiveqt"]
	path = qtactiveqt
	url = https://github.com/qt/qtactiveqt
[submodule "qtimageformats"]
	path = qtimageformats
	url = https://github.com/qt/qtimageformats
[submodule "qtsvg"]
	path = qtsvg
	url = https://github.com/qt/qtsvg
[submodule "qttools"]
	path = qttools
	url = https://github.com/qt/qttools
[submodule "qttranslations"]
	path = qttranslations
	url = https://github.com/qt/qttranslations
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = https://github.com/qt/qtdeclarative
